In [1]:
import pandas as pd

In [2]:
csv_filename = 'Double Crux Questionnaire (Responses) - Form responses (anon).csv'

In [3]:
pd.read_csv(csv_filename, index_col='Name')

,Timestamp,"""If my country asked me to fight a war, I would.""","""It's sometimes necessary to censor books.""","""It's OK to burn a country's flag.""","""While swimming with an old friend and a new, promising friend, they both start to struggle. If I can pick only save one I should pick the old friend.""","""Someone employs ten people in a struggling business. They should fire their employees rather than commit tax fraud.""","""If my family member committed a crime, I would lie to cover for them.""","""Monogamous relationships are better than polyamorous ones.""","""I have a moral duty to avoid eating meat.""","""It's worth people today working full-time to prevent AI causing human extinction.""","""Schools should be able to mandate uniforms."""
Name,,,,,,,,,,,
Adam,23/07/2022 20:42:09,4,1,4,5,4,7,7,4,7,5
Betty,23/07/2022 20:53:38,2,2,7,6,4,5,5,2,7,7
Charlie,23/07/2022 20:53:41,5,2,7,5,6,3,2,6,6,4
David,23/07/2022 20:53:52,5,5,7,5,7,5,4,2,7,4
Eve,23/07/2022 20:54:09,5,2,7,5,6,5,5,3,7,4
Felix,23/07/2022 20:54:16,3,5,7,5,5,2,2,5,7,6
Grace,23/07/2022 20:54:17,5,3,6,6,6,6,3,1,5,6
Harley,23/07/2022 20:54:34,6,7,6,4,7,5,6,5,6,7
Ian,23/07/2022 20:54:45,1,1,7,4,2,5,5,6,6,7
Jade,23/07/2022 20:54:46,3,5,6,7,6,6,5,6,6,5
Kelly,23/07/2022 20:54:47,3,2,5,7,6,4,2,1,6,6
Leo,23/07/2022 20:54:51,2,1,7,1,4,2,2,5,6,2
Mia,23/07/2022 20:54:53,3,6,7,1,4,4,4,4,7,1
Noah,23/07/2022 20:54:58,4,1,4,6,4,6,4,2,7,7
Olivia,23/07/2022 20:55:24,2,2,2,4,6,2,4,2,6,7
Parker,23/07/2022 20:55:32,2,2,5,5,6,3,5,5,7,5
Quin,23/07/2022 20:55:37,4,3,7,4,2,5,3,1,3,6
Ryan,23/07/2022 20:55:58,2,3,6,4,5,2,3,5,7,5
Sydney,23/07/2022 20:56:47,6,2,7,6,6,5,5,5,7,6

In [4]:
def biggest_difference(row1, row2):
    return (row1-row2).abs().max()

In [5]:
def build_distance_matrix(response_df, metric=biggest_difference):

    distance_matrix = pd.DataFrame(index=response_df.index,
                                   columns=response_df.index)

    for idx, row in response_df.iterrows():
        for idy, col in response_df.iterrows():        
            distance_matrix.loc[idx, idy] = metric(row, col)

    return distance_matrix

In [6]:
dm = build_distance_matrix(
        pd.read_csv(csv_filename, index_col='Name'
               ).drop('Timestamp', axis='columns'
                     )
).apply(pd.to_numeric)
dm

Name,Adam,Betty,Charlie,David,Eve,Felix,Grace,Harley,Ian,Jade,Kelly,Leo,Mia,Noah,Olivia,Parker,Quin,Ryan,Sydney
Name,,,,,,,,,,,,,,,,,,,
Adam,0,3,5,4,3,5,4,6,3,4,5,5,5,3,5,4,4,5,3
Betty,3,0,4,3,3,3,3,5,4,4,3,5,6,3,5,3,4,3,4
Charlie,5,4,0,4,3,3,5,5,4,3,5,4,4,4,5,3,5,3,3
David,4,3,4,0,3,3,2,3,5,4,3,4,4,4,5,3,5,3,3
Eve,3,3,3,3,0,3,2,5,4,3,3,4,4,3,5,3,4,3,2
Felix,5,3,3,3,3,0,4,4,4,4,4,4,5,4,5,3,4,2,3
Grace,4,3,5,2,2,4,0,4,5,5,2,5,5,2,4,4,4,4,4
Harley,6,5,5,3,5,4,4,0,6,3,5,6,6,6,5,5,5,4,5
Ian,3,4,4,5,4,4,5,6,0,4,5,5,6,4,5,4,5,3,5
Jade,4,4,3,4,3,4,5,3,4,0,5,6,6,4,4,3,5,4,3
Kelly,5,3,5,3,3,4,2,5,5,5,0,6,6,2,3,4,4,4,4
Leo,5,5,4,4,4,4,5,6,5,6,6,0,5,5,5,4,4,3,5
Mia,5,6,4,4,4,5,5,6,6,6,6,5,0,6,6,4,5,4,5
Noah,3,3,4,4,3,4,2,6,4,4,2,5,6,0,4,3,4,4,3
Olivia,5,5,5,5,5,5,4,5,5,4,3,5,6,4,0,3,5,4,5
Parker,4,3,3,3,3,3,4,5,4,3,4,4,4,3,3,0,4,2,4
Quin,4,4,5,5,4,4,4,5,5,5,4,4,5,4,5,4,0,4,4
Ryan,5,3,3,3,3,2,4,4,3,4,4,3,4,4,4,2,4,0,4
Sydney,3,4,3,3,2,3,4,5,5,3,4,5,5,3,5,4,4,4,0

In [7]:
def max_pair(distance_matrix):
    player1 = distance_matrix.max().idxmax()
    player2 = distance_matrix.drop(player1).idxmax()[player1]
    
    return(player1, player2)

In [8]:
def greedy_sort(distance_matrix):
    
    sorted_pairs = []
    
    dm = distance_matrix.copy()
    
    while dm.columns.size > 1:
        a, b = max_pair(dm)

        sorted_pairs.append((a, b))

        dm.drop([a, b], inplace=True, axis='columns')
        dm.drop([a, b], inplace=True, axis='index')
        
    if dm.columns.size > 0:
        sorted_pairs.append(dm.max().idxmax())
        
    return sorted_pairs

In [9]:
greedy_sort(dm)

[('Adam', 'Harley'),
 ('Betty', 'Mia'),
 ('Jade', 'Leo'),
 ('Charlie', 'Grace'),
 ('David', 'Ian'),
 ('Eve', 'Olivia'),
 ('Felix', 'Kelly'),
 ('Noah', 'Quin'),
 ('Parker', 'Sydney'),
 'Ryan']

In [10]:
print('\n'.join(str(p) for p in greedy_sort(dm)))

('Adam', 'Harley')
('Betty', 'Mia')
('Jade', 'Leo')
('Charlie', 'Grace')
('David', 'Ian')
('Eve', 'Olivia')
('Felix', 'Kelly')
('Noah', 'Quin')
('Parker', 'Sydney')
Ryan